/* navigation */    
body{
    background: #F7F1EA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    object-fit: cover;
    color: #0c2a48;
}
/* Home */
.frontpage{
    display: flex;
    gap: 40px;
    align-items: center;
}
.DC-bkgn{
    width: 250px;
    background: linear-gradient(to right, rgba(255, 166, 0, 0.53), #ffffff);
}
.imgbkg>img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: relative;
    z-index: -1;
}
nav{
    position: relative;
    height: 200px;
    margin-bottom: 100px;
}
.navi{
    padding-left: 15px;  
    align-self: center;
    border-radius: 5px 5px 10px 10px;
    background: linear-gradient(to right, rgba(255, 166, 0, 0.53), #f8f9fa);
    width: 180px;
    height: 60px;
    object-fit: cover;
    color: orangered;
}
.navi:hover{
    background-color: rgba(250, 137, 44, 0.863);
}
.booking-btn1{
    width: 180px;
    height:60px;
    border: none;
    border-radius: 5px 5px 10px 10px;;
    align-self: center;
    background: linear-gradient(to right, rgba(255, 166, 0, 0.53), #f8f9fa);
    font-size: 18px;
}
/* dropdown */
.dropdown_services{
    display: none;
    position: absolute;
    background-color: #fad3bbb9;
    z-index: 1;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10px;
    left: 400px;
    top: 90px;
    border-radius: 5px 10px 5px 10px;
}
.dropdown-content{
    padding: 12px 16px;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr;
    gap:10px;
    position: relative;
    left:10px;
    top: 10px;
}

.general_dentistry, .cosmestic_dentistry{
    display: flex;
    flex-direction: column;
    color: rgb(239, 91, 42);
} 
.content{
    text-decoration: none;
    color:orange;
    font-size: medium;
}
#services:hover .dropdown-services {
    display: grid;
    grid-template-columns: 1fr,1fr;
}
/* about us */
.introduction{
    text-align: center;
    width: 900px;
    margin-left: 100px;
    margin-top: 220px;
    color: black;
}
.dentist-introduction{
    text-align: justify;
}
.welcome-section{
    display: flex;
    align-items: center;
    width: 900px;
    margin-left: 100px;
    text-align: justify;
}
.text-dentist{
    text-align: center;
    margin-left: 300px;
}
.side-pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    padding-left: 20px;
}
/* our-services */
.service-intro{
    text-align: center;
    width: 900px;
    margin-left: 100px;
    color: black;
    text-decoration: none;
}
.our-service{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 900px;
    margin-left:100px;
    margin-right: 0;
}
.our-service>.general_dentistry2{
    border: 1px solid;
    border-radius: 10px;
    margin-top: -5px;
    line-height: 40px;
}
.dental-care{
    width: 70px;
    left:200px;
    position: absolute;
    z-index: 2;
    object-fit: cover;
    border: 1px solid;
    border-radius: 10px;
}
.implant{
    width: 70px;
    left:500px;
    position: absolute;
    z-index: 2;
    object-fit: cover;
    border: 1px solid;
    border-radius: 10px;
}
.our-service>.cosmestic_dentistry2{
    border: 1px solid;
    border-radius: 10px;
    margin-top: -5px;
    line-height: 40px;
}
.GD_list>li{
    list-style: none;
    padding-bottom: 5px;
}
.CD_list{
    padding: 0;
}
.CD_list>li{
    list-style: none;
    padding-bottom: 5px;
}
.insurance-box{
    border: 1px solid;
    border-radius: 10px;
    margin-top: -5px;
    line-height: 40px;
}
.insurance-box>p{
    margin: 0;
}
/* insurance and form  */
.page3{
    display: flex;
    flex-direction: row;
}
.insurance{
    display: flex;
    flex-direction: column;
    justify-content: right;
}
/* insurance - logo */
.insurance-logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
/* carousel - form */
.container{
    margin-left: 0;
    margin-right: 0;
}
.row{
    max-height: fit-content;
}
.carousel-form{
    display:flex;
}
/* carousel */
.carousel-item>img{
    height: 100%;
    object-fit: cover;
}
/* form */
.field-form{
    width: 300px;
}
.enquiry-form{
    width: 400px;
    border-radius: 0 0 8px 8px;
    border: 1px solid #959595;
    border-top-width: 0;
    margin: 0;
}
.box-concern{
    display: grid;
    flex-direction: column;
    justify-content: center;
}
/* footer */
.contact-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    position: relative;
    gap: 10px 30px;
    padding: 0;
    border: solid 1px orange;

}
.get-in-touch{
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
    justify-content: center;
}
.contact-us{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.clinic-hours{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}
footer{
    border: solid 1px ;
    display: flex;
    justify-content: center;
    margin: 0px;
    gap: 10px;
    height: 30px;
    font-size: bold;
}
.contact-us>div{
    display:inline-flex;
}
.contact-us>div>img{
    padding-right: 10px;
}
.address{
    width: 20px;
    height: 20px;
}
.phone{
    width: 20px;
    height: 20px;
}
.contact-us>div>span{
    margin:0;
}
.FB{
    width:20px;
}
.clinic-hours>div{
    display: inline-flex;
}
.bk-icon{
    width: 30px;

}
.SEO{
    left:50px
}
