/* navigation */    
body{
    background: #F7F1EA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    object-fit: cover;
    color: #63230e;
    margin: 0 50px;
}
/* Home */
.frontpage{
    display: flex;
    gap: 40px;
    align-items: center;
}
.DC-bkgn{
    width: 250px;
    background: linear-gradient(to right, #ffb3009e, #ffffff);
    border-radius: 5px;
    z-index: 1;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}
.imgbkg>img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: relative;
    z-index: -1;
}
nav{
    position: relative;
    height: 200px;
    margin-bottom: 100px;
}
.navi{
    align-self: center;
    border-radius: 5px;
    background: linear-gradient(to right, #ffb3009e, #ffffff);
    width: 180px;
    height: 60px;
    object-fit: cover;
    color:#63230e;
    text-align: center;
    text-decoration:none;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}
.navi:hover{
    background-color: rgb(250, 137, 44);
    
}
.booking-btn1{
    width: 180px;
    height:60px;
    border: none;
    border-radius: 5px 5px 10px 10px;;
    align-self: center;
    background: linear-gradient(to right, #ffb3009e, #ffffff);
    font-size: 18px;
    font-weight: bold;
    color: #63230e;
}
.booking-btn1:hover{
    background-color: rgb(250, 137, 44);
}
/* dropdown */
.dropdown_services{
    display: none;
    position: absolute;
    background-color: #fef7f3e0;
    z-index: 1;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10px;
    left: 400px;
    top: 90px;
    border-radius: 5px 10px 5px 10px;
}
.dropdown-content{
    padding: 12px 16px;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr;
    gap:10px;
    position: relative;
    left:10px;
    top: 10px;
}

.general_dentistry, .cosmestic_dentistry{
    display: flex;
    flex-direction: column;
    color: #71301b;
    font-weight: bold;
} 
.general_dentistry>a, .cosmestic_dentistry>a{
    text-decoration: none;
    color: #71301b;
}
.content{
    text-decoration: none;
    color:#441c15bf;
    font-weight: lighter;
}
#services:hover .dropdown-services {
    display: grid;
    grid-template-columns: 1fr,1fr;
}
/* hover dropdown content  */
.content:hover{
    background: #61250925;
}
/* about us */
.row{
    position: relative;
    top:70px;
}
.introduction{
    text-align: center;
    color: #63230e;
    text-align: justify;
}
.introduction>h2{
    font-weight: bold;
    text-align: center;
}
.text-dentist{
    text-align: center;
    font-weight: bold;
    text-align: center;
}
.intro-text{
    text-align: justify;
}
.side-pic{
    width: 350px;
    height: 450px;
    object-fit: cover;
    position: relative;
    left: 10px;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 37%);
    border-radius: 5px;
    top: 53px;
}
/* our-services */
.service-intro{
    text-align: center;
    color: #63230e;
}
.service-intro>h2>a{
    text-decoration: none;
    color: #63230e;
    font-weight: bold;
}
.service1{
    display: flex;
    flex-direction: column;
}
.general_dentistry2{
    border: 3px solid rgba(255, 166, 0, 0.605);
    border-radius: 10px;
    line-height: 35px;
    height: 320px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 15px;
    align-items: center;
    background:#e4dbd726;
    text-decoration: none;
}
.comestic_dentistry2{
    border: 3px solid rgba(255, 166, 0, 0.605);
    border-radius: 10px;
    line-height: 35px;
    height: 320px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 15px;
    align-items: center;
    background:#e4dbd726;
}
.text-service{
    text-align: center;
    text-decoration: none;
    color: #63230e;
    top: 20px;
    font-weight: bold;
}
.text-service>a{
    text-align: center;
    text-decoration: none;
    color: #63230e;
    top: 20px;
    font-weight: bold;
}
.GD_list>li>a{
    color: #63230e;
    text-decoration: none;
}
.CD_list>li>a{
    color: #63230e;
    text-decoration: none;
}
.dental-care{
    width: 70px;
    left:150px;
    position: relative;
    z-index: 2;
    object-fit: cover;
    border: 2px solid rgba(255, 166, 0, 0.605);
    border-radius: 10px;
    background: #f0f0f0;
    bottom: -15px;
}
.implant{
    width: 70px;
    left: 150px;
    position: relative;
    z-index: 2;
    object-fit: cover;
    border: 2px solid rgba(255, 166, 0, 0.605);
    border-radius: 10px;
    background: #f0f0f0;
    bottom: -15px;
}
.icon-gallery{
    width: 70px;
    left: 150px;
    position: relative;
    z-index: 2;
    object-fit: cover;
    border: 2px solid rgba(255, 166, 0, 0.605);
    border-radius: 10px;
    background: #f0f0f0;
    bottom: -15px;
}
.GD_list>li{
    list-style: none;
    padding-bottom: 5px;
}
.CD_list{
    padding: 0;
}
.CD_list>li{
    list-style: none;
    padding-bottom: 5px;
}
/* hover- service content */
.GD_list>li>a:hover{
    background: #61250925;
}
.CD_list>li>a:hover{
    background: #61250925;
}
/* carousel */
.carousel-box{
    border: 3px solid rgba(255, 166, 0, 0.605);
    border-radius: 10px;
    line-height: 35px;
    height: 320px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 15px;
    align-items: center;
    background:#e4dbd726;
}
.carousel-inner{
    width: 80%;
    left: 30px;
}

/* insurance */
.insurance{
    border: 3px solid rgba(255, 166, 0, 0.605);
    border-radius: 10px;
    line-height: 35px;
    height: 320px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 15px;
    align-items: center;
    background:#e4dbd726;
}
/* insurance - logo */
.insurance-logo{
    width: 250px;
    height: 300px;
    object-fit: contain;
    position: relative;
    top: -20px;
}
.medicare-img{
    border: 3px solid rgba(255, 166, 0, 0.605);
    border-radius: 10px;
    line-height: 35px;
    height: 320px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 15px;
    align-items: center;
    background:#e4dbd726;
}
.medicare-kid{
    object-fit: cover;
    width:300px;
    top:50px;
    position: relative;
}
/* carousel - form */
.container{
    position: relative;
    top: 60px;
    margin: 0;
    padding: 0;
}
.row{
    max-height: fit-content;
    position: relative;
}

legend{
    text-align: center;
    font-weight: bold;
    width: 400px;
    top:10px;
    position: relative;   
}

/* carousel */
.carousel-item>img{
    height: 90%;
    width: 90%;
    object-fit: cover;
}
/* form */
.enquiry-form{
    position: relative;
    background: rgba(255, 255, 255, 0);
    border-top-width: 0;
    padding: 25px 25px 26px;
    object-fit: cover;
    width:350px;
    font-size: small;
    top:-170px;
    left:15px;
}
.form-box{
    border: 3px solid rgba(255, 166, 0, 0.605);
    border-radius: 10px;
    line-height: 35px;
    height: 320px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 15px;
    align-items: center;
    background:#e4dbd726;
}
.value-type{
    position: relative;
    width: 150px;
    height: 20px;
}
.label-concern{
    width: 150px;
}
.sel-ser{
    position: relative;
    width: 150px;
    height: 30px;
    text-align: center;
    font-weight: small;
}
textarea {
    left:10px;
    height: 100px;
    width: 150px;
}
.button-1{
    position: relative;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    left: 110px;
    background: linear-gradient(to right, #ffb3009e, #ffffff);
    top:-10px;
}
.button-1:hover{
    background-color: rgb(250, 137, 44);
}
/* footer */
.contact-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    gap:30px;
    padding: 0;
    border: 2px solid rgba(255, 166, 0, 0.605);
    top: 140px;
    border-top-width: thin;
    position: relative;
}
.get-in-touch{
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
    justify-content: center;
    position: relative;
    left:15px;
}
.contact-us{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.clinic-hours{
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
}
.title{
    text-align: center;
    font-weight: bold;

}
.link-a{
    color: #63230e;
    text-decoration: none;
    background-color: #F7F1EA;
    left: 10px;
}
link-a:hover{
    background-color: #8692ed;
}
.contact-us>div>img{
    padding-right: 10px;
    object-fit: cover;
    width: 40px;
    height: 30px;
}
.address{
    width: 20px;
    height: 20px;
}
.phone{
    width: 20px;
    height: 20px;
}
.contact-us>div>span{
    margin:0;
}
.FB{
    width:20px;
}
.img-sec{
    display: inline-flex;
}
.bk-icon{
    width: 30px;
    height: 30px;
    object-fit: cover;

}
footer{
    top:140px;
    position: relative;
    border: solid 1px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    gap: 10px;
    height: 30px;
    font-size: small;
}
.SEO{
    left:50px
}
.btn-booking{
    background: linear-gradient(to right, #ffb3009e, #ffffff);
    transition: background-color 0.3s ease-in-out;
    width: 200px;
    position: relative;
    left: 80px;
    border-radius: 5px;
}
.btn-booking:hover {
    background-color: rgb(250, 137, 44);
}
/* Our-Serivce Link Page */
.ser-page{
    position: relative;
    top:120px;
    text-align: justify;
}
.ser-tittle{
    text-align: center;
    border: 1px solid;
    width: 300px;
    position: relative;
    left: 385px;
    border-radius: 5px;
    background: linear-gradient(to right, #ffb3009e, #ffffff);
    font-weight: bold;
}
.ser-content{
    text-align: center;
    font-weight: bold;
}
.col-lg-6{
    border: 1px solid rgb(25, 24, 23);
    border-radius: 5px;
}
/* responive page */